body {
    background-color: black;
    display: grid;
}

h1 {
    color: white;
    text-align: center;
}

p {
    color: white;
    text-align: center;
}

#boxes {
    display: grid;
    grid-template-columns: repeat(23, 1fr);
    grid-template-rows: repeat(4, 50px);
}

#redBox {
    grid-column: 2 / 4;
    grid-row: 2 / 4;
    border: 3px solid red;
    background-color: rgb(65, 0, 0);
}

#orangeBox {
    grid-column: 5 / 7;
    grid-row: 2 / 4;
    border: 3px solid orange;
    background-color: rgb(65, 42, 0);
}

#yellowBox {
    grid-column: 8 / 10;
    grid-row: 2 / 4;
    border: 3px solid yellow;
    background-color: rgb(54, 54, 0);
}

#greenBox {
    grid-column: 11 / 13;
    grid-row: 2 / 4;
    border: 3px solid green;
    background-color: rgb(0, 41, 0);
}

#blueBox {
    grid-column: 14 / 16;
    grid-row: 2 / 4;
    border: 3px solid blue;
    background-color: rgb(0, 0, 56);
}

#purpleBox {
    grid-column: 17 / 19;
    grid-row: 2 / 4;
    border: 3px solid purple;
    background-color: rgb(36, 0, 36);
}

#pinkBox {
    grid-column: 20 / 22;
    grid-row: 2 / 4;
    border: 3px solid pink;
    background-color: rgb(71, 55, 58);
}